fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
langchain-core 
langchain-community 
langchain-groq 
langchain-huggingface 
langchain-chroma
langchain-ollama
pypdf
sentence-transformers